<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="fontawesome/css/all.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

    
    <title>BatiTienda🦇</title>
  </head>
  <body>
    
    <main>
      <div class="banner-container">
        <div class="banner-inicio">
        <img src="images/banner1.png" alt="banner nuevas ofertas">
      </div>
      </div></div>
      
      <div class="productos-lista">
        <div class="producto">
          <img src="images/Batgirl.jpg" />
          <div class="producto-descripcion">
            <h2 class="producto-nombre">BatGirl Vol. 1</h2>
            <p class="producto-precio">$1000</p>
            <p class="descripcion-producto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <div class="producto">
          <img src="images/Aquaman-Deep-Dives-TP.jpg" />
          <div class="producto-descripcion">
            <h2 class="producto-nombre">Aquaman Deep Dives</h2>
            <p class="producto-precio">$1000</p>
            <p class="descripcion-producto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <div class="producto">
          <img src="images/Absolute-Batman-the-Killing-Joke-HC.jpg" />
          <div class="producto-descripcion">
            <h2 class="producto-nombre">comic 3</h2>
            <p class="producto-precio">$1000</p>
            <p class="descripcion-producto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <div class="producto">
          <img src="images/Batgirl.jpg" />
          <div class="producto-descripcion">
            <h2 class="producto-nombre">BatGirl Vol. 1</h2>
            <p class="producto-precio">$1000</p>
            <p class="descripcion-producto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <div class="producto">
          <img src="images/Aquaman-Deep-Dives-TP.jpg" />
          <div class="producto-descripcion">
            <h2 class="producto-nombre">Aquaman Deep Dives</h2>
            <p class="producto-precio">$1000</p>
            <p class="descripcion-producto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <div class="producto">
          <div class="img-container">
            <img src="images/Absolute-Batman-the-Killing-Joke-HC.jpg" />
          </div>
          <div class="producto-descripcion">
            <h2 class="producto-nombre">comic 3</h2>
            <p class="producto-precio">$1000</p>
            <p class="descripcion-producto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>
    </main>

    <ul>
      <li>
        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
      </li>
      <li>
        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li>
        <a href="/productCar"
          >Carrito de compras <i class="fa-solid fa-cart-shopping"></i
        ></a>
      </li>
      <li>
        <a href="/productDetail"
          >detalles producto <i class="fa-solid fa-book"></i
        ></a>
      </li>
    </ul>
    <script  src="../app.js"></script>
  </body>
</html>
