<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BatiTienda🦇</title>
</head>
<body>
    <h1>LOGIN</h1>
    <ul>
        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="/">INICIO <i class="fa-solid fa-house"></i></a></li>
        <li><a href="/productCar">Carrito de compras <i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="/productDetail">destalles producto <i class="fa-solid fa-book"></i></a></li>
    </ul>
</body>
</html>