<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BatiTienda🦇</title>
</head>
<body>

    <!--::::Encabezado de Pagina::::::-->
    <header class="header-mobile">
        <nav class="header-nav">
            <input type="checkbox" id="checkbox-menu-toggle" class="menu-toggle" name="menuToggle" style="display: none;">
            <label for="checkbox-menu-toggle" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
            <div class="main-menu">
                <ul>
                <li>
                    <input type="radio" name="menuToggle" id="figurasToggle" class="menu-toggle">
                    <label for="figurasToggle" class="menu-icon">Figuras</label>
                    <ul class="sub-menu">
                        <li><a href="#">Hasbro</a></li>
                        <li><a href="#">Bandai</a></li>
                        <li><a href="#">Funko</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="comicsToggle" class="menu-toggle">
                    <label for="comicsToggle" class="menu-icon">Comics</label>
                    <ul class="sub-menu">
                        <li><a href="#">Marvel</a></li>
                        <li><a href="#">DC</a></li>
                        <li><a href="#">Star Wars</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="mangasToggle" class="menu-toggle">
                    <label for="mangasToggle" class="menu-icon">Mangas</label>
                    <ul class="sub-menu">
                        <li><a href="#">Shonen</a></li>
                        <li><a href="#">Shojo</a></li>
                        <li><a href="#">Seinen</a></li>
                        <li><a href="#">Josei</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="otrosToggle" class="menu-toggle">
                    <label for="otrosToggle" class="menu-icon">Otros</label>
                    <ul class="sub-menu">
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Accesorios</a></li>
                    </ul>
                </li>
                </ul>
                <ul>
                <li>
                    <a class="btn" href="/login">Inicia Sesión</a>
                </li>
                <li>
                    <a class="btn" href="/register">Registrate</a>
                </li>
                </ul>
            </div>
            <a href="/">
                <img src="images/murcielago1.png" alt="Logo Bati-Tienda" class="logo">
            </a>
            <div class="cart-icon">
                <a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a>  
            </div>
        </nav>
        <div class="container">
            <form class="search-form" action="#">
                <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </header>

    <main>
        <section id="productos">
            <h2>Carrito de Compras - Comics</h2>
            <article class="cart-row">
                <div class="image-product">
                    <img src="images/Batgirl.jpg" alt="Producto 1">
                </div>
                <div class="option-product">
                    <h3 class="title-product">Comic 1</h3>
                    <div class="menu-buttons">
                        <div class="quantity-buttons">
                            <button class="add-product-button btn"><i class="fa-solid fa-plus"></i></button>
                            <span>1 </span>
                            <button class="add-product-button btn"><i class="fa-solid fa-minus"></i></button>
                        </div>
                    </div>
                    <h6 class="sub-total">Precio: $20.00</h6>
                </div>
                <div>
                    <button class="delete-product btn"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </article>
            <article class="cart-row">
                <div class="image-product">
                    <img src="images/jokerwar.jpg" alt="Producto 2">
                </div>
                <div class="option-product">
                    <h3 class="title-product">Comic 2</h3>
                    <div class="menu-buttons">
                        <div class="quantity-buttons">
                            <button class="add-product-button btn"><i class="fa-solid fa-plus"></i></button>
                            <span>3 </span>
                            <button class="add-product-button btn"><i class="fa-solid fa-minus"></i></button>
                        </div>
                    </div>
                    <h6 class="sub-total">Precio: $25.00</h6>
                </div>
                <div>
                    <button class="delete-product btn"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </article>
        </section>
        <section>

        <section id="envio">
            <h2>Opciones de Envío</h2>
            <article class="sell-options">
                <div class="checkbox-container">
                    <div class="sell-checkbox">
                        <input type="radio" name="envio" id="retiroLocal" value="retiro"> 
                        <label for="retiroLocal">Retiro por Local</label>
                    </div>
                    <p class="send-price">$0</p>
                </div>
                <div class="checkbox-container">
                    <div class="sell-checkbox">
                        <input type="radio" name="envio" id="retiroDomicilio" value="domicilio"> 
                        <label for="retiroDomicilio">Envío a Domicilio</label>
                    </div>
                    <p class="send-price">$2000</p>
                </div>
            </article>
        </section>

        <section id="medio-pago">
            <h2>Medios de Pago</h2>
            <article class="sell-options">
                <div class="sell-checkbox">
                    <input type="radio" name="pago" value="efectivo" id="efectivo">
                    <label for="efectivo">Efectivo</label>
                </div>
                <div class="sell-checkbox">
                    <input type="radio" name="pago" value="tarjeta" id="tarjeta">
                    <label for="tarjeta">Tarjeta de Débito/Crédito</label>
                </div>
                <div class="sell-checkbox">
                    <input type="radio" name="pago" value="transferencia" id="transferencia">
                    <label for="transferencia">Transferencia</label>
                </div>
            </article>
        </section>

        <section id="resumen">
            <h2>Finalizar Compra</h2>
            <div class="price-last-opcions">
                <h3 id="total">Total: <span>100000.00</span></h3>
                <button id="seguir-comprando" class="btn">Seguir Comprando</button>
                <button id="vaciar-carrito" class="btn">Finalizar Compra</button>
            </div>
        </section>
    </main>

    <!--::::Pie de Pagina::::::-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="/">
                        <img src="images/murcielago1.png" alt="Logo Bati-Tienda">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            </div>
            <div class="box social">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Bati-Tienda</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

</body>
</html>