<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BatiTienda🦇</title>
</head>

    <!--::::Encabezado de Pagina::::::-->
    <header class="header-mobile">
        <nav class="header-nav">
            <input type="checkbox" id="checkbox-menu-toggle" class="menu-toggle" name="menuToggle" style="display: none;">
            <label for="checkbox-menu-toggle" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
            <div class="main-menu">
                <ul>
                <li>
                    <input type="radio" name="menuToggle" id="figurasToggle" class="menu-toggle">
                    <label for="figurasToggle" class="menu-icon">Figuras</label>
                    <ul class="sub-menu">
                        <li><a href="#">Hasbro</a></li>
                        <li><a href="#">Bandai</a></li>
                        <li><a href="#">Funko</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="comicsToggle" class="menu-toggle">
                    <label for="comicsToggle" class="menu-icon">Comics</label>
                    <ul class="sub-menu">
                        <li><a href="#">Marvel</a></li>
                        <li><a href="#">DC</a></li>
                        <li><a href="#">Star Wars</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="mangasToggle" class="menu-toggle">
                    <label for="mangasToggle" class="menu-icon">Mangas</label>
                    <ul class="sub-menu">
                        <li><a href="#">Shonen</a></li>
                        <li><a href="#">Shojo</a></li>
                        <li><a href="#">Seinen</a></li>
                        <li><a href="#">Josei</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="otrosToggle" class="menu-toggle">
                    <label for="otrosToggle" class="menu-icon">Otros</label>
                    <ul class="sub-menu">
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Accesorios</a></li>
                    </ul>
                </li>
                </ul>
                <ul>
                <li>
                    <a class="btn" href="/login">Inicia Sesión</a>
                </li>
                <li>
                    <a class="btn" href="/register">Registrate</a>
                </li>
                </ul>
            </div>
            <a href="/">
                <img src="images/murcielago1.png" alt="Logo Bati-Tienda" class="logo">
            </a>
            <div class="cart-icon">
                <a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a>  
            </div>
        </nav>
        <div class="container">
            <form class="search-form" action="#">
                <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </header>

    <!--::::Encabezado de Pagina desktop::::::-->
    <header class="header-desktop">
        <section class="header-top1">
            <a href="/">
                <img src="images/murcielago1.png" alt="Logo Bati-Tienda" class="logo1">
            </a>
    
            <div class="container1">
                <form class="search-form1" action="#">
                    <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
    
            <div class="user-cart-icon">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
                <a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </section>
    
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Figuras</a>
                    <ul class="submenu">
                        <li><a href="#">Hasbro</a></li>
                        <li><a href="#">Bandai</a></li>
                        <li><a href="#">Funko</a></li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Comics</a>
                    <ul class="submenu">
                        <li><a href="#">Marvel</a></li>
                        <li><a href="#">DC</a></li>
                        <li><a href="#">Star Wars</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Mangas</a>
                    <ul class="submenu">
                        <li><a href="#">Shonen</a></li>
                        <li><a href="#">Shojo</a></li>
                        <li><a href="#">Seinen</a></li>
                        <li><a href="#">Josei</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Otros</a>
                    <ul class="submenu">
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Accesorios</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    
    <body>

        <main class="productDetail">
            <h1 class="nombre-PD">Funko Deluxe Sukuna - Jujutsu Kaisen</h1>
    
            <section class="izquierda">
                <div class="contenedor-img-PD">
                    <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/xgcol4291-ff23971e53b821f89616801858975626-640-0.webp" alt="imagen-producto"/>
                </div>
                <div class="contenedor-add-carrito">
                    <div class="contenedor-cantidad">
                        <input
                            type="number"
                            placeholder="1"
                            value="1"
                            min="1"
                            class="input-quantity"
                        />
                        <div class="btn-incremento-decremento">
                            <i class="fa-solid fa-chevron-up" id="incremento"></i>
                            <i class="fa-solid fa-chevron-down" id="decremento"></i>
                        </div>                            
                    </div>
                    <button class="btn-add-carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Añadir al carrito
                    </button>
                </div>
            </section>
            <section class="derecha">
                <div class="contenedor-info-PD">
                    <div class="contenedor-descripcion">
                        <div class="titulo-descripcion">
                            <h4>Descripción</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="descripcion-producto-PD">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam iure
                                provident atque voluptatibus reiciendis quae rerum, maxime placeat enim cupiditate voluptatum, temporibus quis iusto. Enim eum qui delectus deleniti similique? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint autem magni earum est dolorem saepe perferendis repellat ipsam laudantium cum assumenda quidem quam, vero similique? Iusto officiis quod blanditiis iste?
                                </p>
                        </div>
                    </div>
                </div>
                <div class="contenedor-productos-relacionados">
                    <h2>Productos Relacionados</h2>
                    <div class="lista-prodRelacionados">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/ptcol0941-0c54bf680188e0c39016817364362983-640-0.webp" alt="producto-1" />
                            </div>
                            <div class="info-card">
                                <div class="text-product">
                                    <h3>Funko Moon Knight (1047) - Moon Knight (Marvel)</h3>
                                    <p class="category">Funko, Pop!</p>
                                </div>
                                <div class="price">$1000</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/xgcol4001-9f012f1a01a448753c16578248490698-640-0.webp" alt="producto-2" />
                            </div>
                            <div class="info-card">
                                <div class="text-product">
                                    <h3>Funko Killua (1106) Glow Chase - Hunter X Hunter (TV)</h3>
                                    <p class="category">Funko, Pop!</p>
                                </div>
                                <div class="price">$1000</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/ptcol1021-2b1add57e19662b11216818273017423-640-0.webp" alt="producto-3"/>
                            </div>
                            <div class="info-card">
                                <div class="text-product">
                                <h3>Funko Infinite Deku With Eri </h3>
                                <p class="category">Funko, My Hero Academy</p>
                            </div>
                            <div class="price">$1000</div>
                        </div>
                    </div>
                </div>
            </section>
    
            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
    
        </main>

        <ul>
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/productCar">Carrito de compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="/">INICIO <i class="fa-solid fa-house"></i></a></li>
        </ul>

        <!--::::Pie de Pagina::::::-->
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="/">
                            <img src="images/murcielago1.png" alt="Logo Bati-Tienda">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                </div>
                <div class="box social">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2023 <b>Bati-Tienda</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>
    </body>

</html>