<div id="loaderBatman">
    <div class="loader-content">
        <img src="/images/BatmanRUN-unscreen.gif" alt="loader">
        <p>Loading<span>.</span><span>.</span><span>.</span></p>
    </div>
</div>