
  <%- include('./parcials/head') -%>
  <body>
    <%- include('./parcials/header') -%>
    <main>
      <div class="banner-container">
        <div class="banner-inicio">
          <img src="/images/banner1.png" alt="banner nuevas ofertas">
        </div>
      </div>
      <div class="productos-lista">
        
        <%=createCard.agregarTarjetasAlContenedor( 'oferta', true )%>

      </div>
    </main>
    <%- include('./parcials/footer') -%>
  </body>
</html>
