
  <%- include('./parcials/head') -%>
  <body>
    <%- include('./parcials/header') -%>
    <main>
      <div class="banner-container">
        <div class="banner-inicio">
          <img src="/images/banner1.png" alt="banner nuevas ofertas">
        </div>
      </div>
      <div class="productos-lista">
        <%= card %>
      </div>
      <script src="../js/card.js"></script>
      <script>
        const tarjetas = createCard.agregarTarjetasAlContenedor('categoria', 'figura');
        document.write(tarjetas);
      </script>
    </main>
    <%- include('./parcials/footer') -%>
  </body>
</html>
