.action {
    top: 20px;
    right: 30px;
  }
  
.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
  
.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu-profile {
    position: absolute;
    top: 120px;
    right: 80px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
  
.action .menu-profile.active {
    top: 90px;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
  
.action .menu-profile::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
  
.action .menu-profile h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
}
  
.action .menu-profile h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
}
  
.action .menu-profile ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.action .menu-profile ul li i {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
  
.action .menu-profile ul li:hover i {
    opacity: 1;
}
  
.action .menu-profile ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
  
.action .menu-profile ul li:hover a {
    color: #ff5d94;
}

.user-name span{
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
}

.btn > i.fa-solid {
    padding-right: 10px;
}

.action .menu-profile ul li form button {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.action .menu-profile ul li:hover form button {
    color: #961313;
}


/*-----Editar Perfil-----*/
.user-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.user-section{
  width: 100%;
  background-color: var(--conteneder-info);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding-bottom: 25px;
}

.user-perfil{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid white;
  
}

.subcontainer {
  background-color: var(--cinder-400);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.marco-img {
  position: relative;
}

.marco-img img{
  width: 180px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 10px solid white;
}

.cambiar-img {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    margin-bottom: 30px;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 68%;
}

.cambiar-img i {
  -webkit-text-stroke: 1px #525151;
}

.cambiar-img form input {
  display: none;
}

.user-perfil h3{
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.user-perfil p {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

.ul-option {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ul-option a {
  text-decoration: none;
  color: inherit;
}

.li {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 22px;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.li.activo {
  background-color: lightskyblue;
  color: white;
}

.subcontainer {
  width: 100%;
  position: relative;
}

.bloque {
  position: relative;
  opacity: 0;
  width: 100%;
}

.bloque h1 {
  padding: 20px 0 0 20px;
  margin: 0;
}

.bloque:not(.activo) {
  display: none;
}

.bloque.activo {
  opacity: 1;
}

.encabezadoListProduct{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.encabezadoListProduct .btn {
  margin: 10px 15px 0 0;
  width: 78px;
}


/* Estilos de formulario */
.form-edit {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 10px;
}

.form-edit label {
  font-weight: bold;
  color: var(--cinder-950);
}

.form-edit input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.table-container {
  margin: 20px 10px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
table{
  width: 100%;
}

table tr {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cinder-900);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

table td[data-titulo]{
  display: flex;
  justify-content: space-between
  ;
}

table td[data-titulo]::before{
  content: attr(data-titulo);
  color: var(--cinder-900);
  font-weight: bold;
  text-decoration: underline;
}

table thead {
  display: none;
}

.table-img-user img {
  width: 30px;
  border-radius: 50%;
}

.table-img-product img {
  width: 30px;
}

.table-titulo{
  text-align: right;
}

.edit-link, .delete-link {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #007BFF;
}

.edit-link:hover, .delete-link:hover {
  text-decoration: underline;
}

table tr td a button, table tr td form button{
    padding: 3px;
    background-color: #f8f4f4;
    border-radius: 5px;
}

table tr td a button i, table tr td form button i {
    font-size: 18px;
    width: 18px;
}

/*-----------------------*/

/* Tablets */
@media (min-width: 468px) {


    /*-----Editar Perfil-----*/
    .user-section {
        width: 35%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 2rem;
        border-right: 2px solid white;
        padding: 0;
    }

    .form-edit {
        padding: 20px;
        margin: 0;
    }

    .marco-img img {
        width: 140px;
        margin-bottom: 0px;
    }

    .cambiar-img {
        margin-bottom: 14px;
        width: 74%;
    }

    .subcontainer {
        width: 65%;
        height: 100vh;
        overflow-y: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 2rem;
    }

    .table-container {
        overflow-x: auto;
        margin: 20px 25px;
    }

    .bloque h1 {
        padding: 20px 0 0 20px;
        margin: 0;
    }

    .encabezadoListProduct .btn {
        margin: 10px 25px 0 0;
    }
    /*-----------------------*/
}

/* Laptops */
@media (min-width: 786px) {


    /*-----Editar Perfil-----*/
    .user-section {
        width: 25%;
    }
  
    .subcontainer {
      width: 75%;
    }
  
    table tr {
      display: table-row;
      margin-bottom: 0;
      padding: 0;
    }
  
    table td[data-titulo] {
      display: table-cell;
      width: auto;
    }
  
    table td[data-titulo]::before {
      content: "";
    }
  
    table thead {
      display: table-header-group;
  
    }
  
    table thead th, table tr td {
      border-right: 1px solid gray;
    }
  
    .table-img-user, .table-img-product {
      width: 47px;
      text-align: center;
    }

    .table-acciones {
      width: 78px;
      text-align: center;
    }
  
    .table-perfil {
      width: 71px;
      text-align: left;
    }
  
    .table-id{
      width: 34px;
      text-align: center;
    }
  
    .table-titulo{
      text-align: left;
    }
  
    .table-price{
      width: 64px;
      text-align: center;
    }
  
    .table-stock{
      width: 60px;
      text-align: center;
    }
    /*-----------------------*/

    .cambiar-img label {
      display: none;
    }

    .marco-img:hover .cambiar-img label {
      display: block; /* Mostrar el label cuando se hace hover en .marco-img */
    }
    
}

@media (min-width: 1100px) {


    /*-----Editar Perfil-----*/
    .user-section {
      width: 20%;
    }

    .subcontainer {
      width: 80%;
    }
    /*-----------------------*/
}