<%- include('../parcials/head') -%>
<body>
    <!-- header -->
    <%- include('../parcials/header') -%>

    <main class="form-container">
        <section class="create-container">
            <h2>Crear Producto</h2>
            <%- include('./parcials/formProduct',{product:{}}) -%>
        </section>
    </main>
    
    <%-include('../parcials/footer')-%>
    
</body>
</html>