<%- include('../parcials/head') -%>
<body>
    <!-- header -->
    <%- include('../parcials/header') -%>

    <main class="form-container">
        <section class="create-container">
            <h2>Crear Producto</h2>
            <form class="create-form" id="createProductForm" action="/product" method="POST" enctype="multipart/form-data">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>
                
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" required>

                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" required>

                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" onchange="changeSubcategories(event)" required>
                    <option value="figuras">Figuras</option>
                    <option value="comics">Comics</option>
                    <option value="mangas">Mangas</option>
                    <option value="otros">Otros</option>
                </select>
                
                <label for="subcategoria">Subcategoría:</label>
                <select id="subcategoria" name="subcategoria" required>
                    <option value="">Elije una categoría</option>
                    <option value="Hasbro">Hasbro</option>
                    <option value="Bandai">Bandai</option>
                    <option value="Funko">Funko</option>
                </select>
                
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" required>
                
                <div class="btn-create">
                    <button class="btn" type="button" onclick="loaderOn(event)">Crear</button>
                    <button class="btn" type="button">Vista</button>
                </div>
            </form>
        </section>
    </main>

    <div id="loaderBatman">
        <div class="loader-content">
            <img src="../images/BatmanRUN-unscreen.gif" alt="loader">
            <p>Loading<span>.</span><span>.</span><span>.</span></p>
        </div>
    </div>
    
    <%-include('../parcials/footer')-%>
    
</body>
</html>