<%- include('../parcials/head',{title: "Editar producto"}) -%>
<body>
     <!-- header -->
    <%- include('../parcials/header') -%>
    
    <main class="form-container">
        <section class="create-container">
            <h2>Editar Producto</h2>
            <%- include('./parcials/formProduct',{product}) -%>
        </section>
    </main>

    <%-include('../parcials/footer')-%>

</body>
</html>