<%- include('../parcials/head') -%>
  
    <body>

        <%- include('../parcials/header') -%>

        <main class="productDetail">
            <h1 class="nombre-PD">Funko Deluxe Sukuna - Jujutsu Kaisen</h1>
    
            <section class="izquierda">
                <div class="contenedor-img-PD">
                    <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/xgcol4291-ff23971e53b821f89616801858975626-640-0.webp" alt="imagen-producto"/>
                </div>
                <div class="contenedor-add-carrito">
                    <div class="contenedor-cantidad">
                        <input
                            type="number"
                            placeholder="1"
                            value="1"
                            min="1"
                            class="input-quantity"
                        />
                        <div class="btn-incremento-decremento">
                            <i class="fa-solid fa-chevron-up" id="incremento"></i>
                            <i class="fa-solid fa-chevron-down" id="decremento"></i>
                        </div>                            
                    </div>
                    <button class="btn-add-carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Añadir al carrito
                    </button>
                </div>
            </section>
            <section class="derecha">
                <div class="contenedor-info-PD">
                    <div class="contenedor-descripcion">
                        <div class="titulo-descripcion">
                            <h3>Descripción</h3>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="descripcion-producto-PD">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam iure
                                provident atque voluptatibus reiciendis quae rerum, maxime placeat enim cupiditate voluptatum, temporibus quis iusto. Enim eum qui delectus deleniti similique? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint autem magni earum est dolorem saepe perferendis repellat ipsam laudantium cum assumenda quidem quam, vero similique? Iusto officiis quod blanditiis iste?
                                </p>
                        </div>
                    </div>
                </div>
                <div class="contenedor-productos-relacionados">
                    <h2>Productos Relacionados</h2>
                    <div class="lista-prodRelacionados">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/ptcol0941-0c54bf680188e0c39016817364362983-640-0.webp" alt="producto-1" />
                            </div>
                            <div class="info-card">
                                <div class="text-product">
                                    <h3>Funko Moon Knight (1047) - Moon Knight (Marvel)</h3>
                                    <p class="category">Funko, Pop!</p>
                                </div>
                                <div class="price"><p class="send-price">$1000</p></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/xgcol4001-9f012f1a01a448753c16578248490698-640-0.webp" alt="producto-2" />
                            </div>
                            <div class="info-card">
                                <div class="text-product">
                                    <h3>Funko Killua (1106) Glow Chase - Hunter X Hunter (TV)</h3>
                                    <p class="category">Funko, Pop!</p>
                                </div>
                                <div class="price"><p class="send-price">$1000</p></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="https://acdn.mitiendanube.com/stores/001/017/593/products/ptcol1021-2b1add57e19662b11216818273017423-640-0.webp" alt="producto-3"/>
                            </div>
                            <div class="info-card">
                                <div class="text-product">
                                <h3>Funko Infinite Deku With Eri </h3>
                                <p class="category">Funko, My Hero Academy</p>
                            </div>
                            <div class="price"><p class="send-price">$1000</p></div>
                        </div>
                    </div>
                </div>
            </section>
    
            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
    
        </main>
        <%-include('../parcials/footer')-%>
    </body>

</html>