<%- include('../parcials/head') -%>
<body>
    <%- include('../parcials/header') -%>
    <section class="lista-figuras">
        <h2 class="lista-titulo">Figuras:</h2>

    </section>

    <section class="lista-figuras">
        <h2 class="lista-titulo">Comics:</h2>
        
    </section>

    <section class="lista-figuras">
        <h2 class="lista-titulo">Mangas:</h2>

    </section>

    <section class="lista-figuras">
        <h2 class="lista-titulo">Otros:</h2>

    </section>

    <%- include('../parcials/footer') -%>
</body>
</html>