<%- include('../parcials/head') -%>
<body>
    <%- include('../parcials/header') -%>

    <main class="form-container">
        <section class="login-container">
            <h2>Iniciar Sesi칩n</h2>
            <form class="login-form" action="/user/login" method="POST">
                <label for="email">Email y contrase침a</label>
                <input type="email" id="email" name="email" placeholder="游닎 Email" required>
                <% if(locals.errors && errors.email){ %>
                <div> <%= errors.email.msg %> </div>
                <% } %>
                <input type="password" id="contrasena" name="contrasena" placeholder="游 Contrase침a"required>
                <label for="recordar"><input type="checkbox" id="recordar" name="recordar">Recordarme</label>
                <button class="btn" type="submit">Iniciar Sesi칩n</button>
            </form>
            <a href="recuperar_contrasena.html">쯆lvidaste tu contrase침a?</a>
            <div class="social-login">
                <p>O inicia sesi칩n con:</p>
                <a href="#" class="social-button google"><i class="fa-brands fa-google" style="color: #a71c1c;"></i> Google</a>
                <a href="#" class="social-button facebook"><i class="fa-brands fa-facebook" style="color: #0866ff;"></i> Facebook</a>
                <a href="#" class="social-button twitter"><i class="fa-brands fa-twitter" style="color: #55acef;"></i> Twitter</a>
            </div>
        </section>
    </main>
    <%- include('../parcials/footer') -%>
</body>
</html>